<div class="container mt-4">
    <form autocomplete="off" class="row g-3">
        <div class="col-auto">
            <label for="txtBuscar" class="visually-hidden">Buscar</label>
            <input  id="txtBuscar" type="text" class="form-control" placeholder="Item" #txtBuscar>
          </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary mb-3" (click)="search(txtBuscar.value)">Buscar</button>
        </div>
      </form>
      <ol *ngIf="items.length>0">
        <li *ngFor="let item of items" [innerHTML]="item.item"></li>
      </ol>

</div>